.image-preview {
	display: inline-block;
	position: relative;

	.inset {
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		background: #fff;
		opacity: .7;
	}

	.glyphicon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: .5;
		color: #fff;
		font-size: 50px;
	}
	img, video {
		width: 200px;
		height: 200px;
	}
	video {
		vertical-align: middle;
		background-color: #000;
	}
}